body {
  font-family: 'Poppins', Arial, sans-serif;
  margin: 0;
  background-color: #f4f5ff;
}

header {
  background: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 50px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  position: sticky;
}

.logo {
  background-color: #5b21b6;
  color: white;
  padding: 6px 14px;
  border-radius: 6px;
  font-weight: bold;
}

.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
nav a {
  text-decoration: none;
  color: #444;
  margin: 10px;
  font-weight: 500;
  font-size: 15px;
  transition: color 0.2s;
}
nav a:hover {
  color: #6c4ed2;
}
.buy-btn {
  background-color: #007bff;
  color: white;
  border: none;
  padding: 10px 18px;
  border-radius: 8px;
  font-weight: 600;
  cursor: pointer;
  transition: background 0.3s;
}

.buy-btn:hover {
  background-color: #0056b3;
}

.hero {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 60px 80px;
  gap: 40px;
}

.text {
  max-width: 600px;
}

.text h1 {
  color: #1a0033;
  font-size: 48px;
  margin-bottom: 10px;
}

.text h3 {
  color: #5b21b6;
  font-weight: 600;
  margin-bottom: 20px;
}

.text p {
  line-height: 1.6;
  color: #444;
}

.text ul {
  list-style: none;
  padding: 0;
  margin: 20px 0;
}

.text ul li {
  margin-bottom: 8px;
  font-weight: 500;
}

.buttons {
  background-color: blue;
  display: flex;
  gap: 15px;
  margin: 20px;
}

.register {
  background: #5b21b6;
  color: white;
  border: none;
  padding: 10px 18px;
  border-radius: 6px;
  font-weight: bold;
  cursor: pointer;
}

.schedule {
  background: white;
  color: #5b21b6;
  border: 2px solid #5b21b6;
  padding: 10px 18px;
  border-radius: 6px;
  font-weight: bold;
  cursor: pointer;
}

.image img {
  width: 500px;
  height: 350px;
  object-fit: cover;
  border-radius: 10px;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.15);
}

.badges {
  position: absolute;
  top: 55%;
  right: -10px;
  transform: translateY(-50%);
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.badges span {
  background-color: #ffffff;
  padding: 10px 18px;
  border-radius: 25px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  font-weight: 600;
  color: #333;
  font-size: 15px;
  display: flex;
  align-items: center;
  gap: 8px;
}

@media (max-width: 900px) {
  .hero {
    flex-direction: column;
    text-align: center;
  }

  .image img {
    width: 90%;
  }

  header {
    flex-direction: column;
    gap: 10px;
  }
}
