h2{
    text-align: center;
    color: blue;
}
table{
     width: 50%;
     border-collapse: collapse;
     margin-left: auto;
     margin-right: auto;
}
td,th{
     border: 2px solid rebeccapurple;
     padding: 10px;
}